.btn-gap {
  border: 1px solid #ffffff;
}

.active:hover {
  background-color: darkgreen;
  color: #fff;
}

.available:hover {
  background-color: green;
  color: #fff;
}

.calendar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.react-calendar__navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.react-calendar__navigation__prev2-button {
  display: none;
}

.react-calendar__navigation__next2-button {
  display: none;
}

.react-calendar__navigation button {
  margin: 0 10px;
}

.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
  color: #ccc;
}

.react-calendar__navigation button:hover:not(:disabled) {
  background-color: #e0e0e0;
  color: #000;
}
